/* ADMIN */
.admin header {
    background: var(--color-main);
    padding: 26px;
    margin-bottom: 50px;
    max-width: 100%;
}

.admin header .header-container {
    display: flex;
    align-items: center;
}

.admin header .header-container .logo {
    margin-right: 50px;
    margin-left: 0;
}

.admin header .header-container .links {
    display: flex;
    justify-content: flex-start;
}

.admin header .header-container .links form button {
    position: absolute;
    right: 0;
    
    margin-right: 50px;
}

.admin header .header-container a + a {
    margin-left: 30px;
}

.admin header .header-container .links {
    display: flex;
    justify-content: flex-end;
}

.admin header .header-container .links a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 18px;
}

.admin header .header-container .links button {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    color: #fff;
    background-color: var(--color-main);
    
    padding: 0;
}

.admin .page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.admin header .header-container .links a.active {
    color: #999;
}

/* === PAGINATION === */

.pagination {
    display:flex;
    justify-content: center;
}
 
.pagination a + a {
    margin-left: 16px;
}
.pagination a,
.pagination span {
    color: #6558C3;
    text-decoration: none;
}
 
.pagination a:hover {
    filter: brightness(0.7);
    font-weight: 700;
    border-bottom: 1px solid #6558C3;
}

/* === FORM === */
/*=== EDIT ===*/

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-bottom: 30px;
}

.form-header h2 {
    margin-bottom: 0;
}

.form-header-btn {
    display: flex;
}

.form-header-btn form {
    margin-right: 10px;
}

.form-header-btn form button {
    background: #DC4747;
}

button, .btn {
    background: #6558C3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 9px 20px;
    border-radius: 4px;

    cursor: pointer;
}

.item button { /* pegando o button do fields */
    background: none;
    color: #6558C3;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    
    margin-top: 15px;
    padding: 0;
}

input, textarea, select {
    font-size: 16px;
    color: var(--color-main);

    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 20px;
    font-weight: 500;
}

select:invalid { 
    color:gray;
}

textarea {
    font-family: 'Roboto', sans-serif;

    height: 257px;
    margin-bottom: 30px;
}

.item > div:first-child {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-main);
}

#ingredients, #preparation {
    margin-top: 0;
}

#ingredients .ingredient, #preparation .preparation {
    margin-bottom: 10px;
}  

.item div:last-child {  /* para tirar o margin-bottom do último input */
    margin-bottom: 0 !important;
}

/*  IMAGES-UPLOAD */

form .item .images-container {
    display: flex;
}

form .item #images-upload {
    position: relative;
    display: block;
    overflow: hidden;

    width: 150px;
    height: 150px;
    margin-right: 10px;

    border: 1px solid #ddd;
    border-radius: 4px;
}

form .item #images-input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: block;
    overflow: hidden;  /* é para que não haja rolagem */
    opacity: 0;  

    cursor: pointer;

}

form .item #images-upload i {
    padding: 0;
    
    top: 0;
    left: 0;

    font-size: 300%;
    color: #777;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

form .item #images-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0;
}

form .item #images-preview img {
    width: 150px;
    height: 150px;
    
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;

    object-fit: cover;

}

form .item #images-preview .image {
    position: relative;
}

form .item #images-preview i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

form .item #images-preview .image:hover i {
    opacity: 1;
}

/*  AVATAR-UPLOAD */

form .item #avatar-upload {
    position: relative;

    width: 140px;
    height: 40px;

    display: block;

    margin-top: 24px;  
}

form .item #avatar-input {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */

    width: 100%;
    height: 100%;

    display: block;
    overflow: hidden;  /* é para que não haja rolagem */
    opacity: 0;

    cursor: pointer;

}

form .item #avatar-upload p {
    background-color:  #6558C3;
    color: #fff;

    width: 100%;
    height: 100%;

    font-size: 16px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

}

form .item #avatar-preview {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form .item #avatar-preview img {
    width: 128px;
    height: 128px;

    border-radius: 50%;

    object-fit: cover;

}

form .item #avatar-preview .avatar-image {
    position: relative;
}

form .item #avatar-preview i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

form .item #avatar-preview .avatar-image:hover i {
    opacity: 1;
}

form .item #avatar-preview input {
    
    width: 940px;
    color: #979696;
    background-color: #fff;

    margin-bottom: 15px;
}